#pierwszy {
    width: auto;
    height: 900px;
}

#testAnim6{
    width:100px;
    height:100px;
    background-color: red;
}

#menu {
    height:250px;
    width:20px;
    background-color: royalblue;
    cursor: pointer;
}
